<br>
<span>COMPROMETIMENTO COM O SERVIÇO PÚBLICO</span>
<div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
</div>
<span>CAPACIDADE DE NEGOCIAÇÃO E ARTICULAÇÃO</span>
<div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
</div>
<span>SENSIBILIDADE SOCIAL, EMPATIA</span>
<div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
</div>
<span>CAPACIDADE DE LIDAR COM O PÚBLICO</span>
<div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
</div>
<span>LIDERANÇA DE EQUIPE E INICIATIVA</span>
<div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
</div>
<span>RELACIONAMENTO INTERPESSOAL</span>
<div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
</div>
<span>VISÃO EMPREENDEDORA E ESTRATÉGICA</span>
<div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
</div>
<p>Elaborado com base no Decreto Nº 44.986, de 19 de dezembro de 2008. <a href="http://www.ipsm.mg.gov.br/arquivos/legislacoes/legislacao/decretos/decreto_44986.pdf" target="_blank"><i class="fa fa-external-link-square" title="http://www.ipsm.mg.gov.br/arquivos/legislacoes/legislacao/decretos/decreto_44986.pdf"></i></a></p>